.App {
  text-align: left;
  height: 100vh;
  width: 600px;
  margin: 0 auto;
  margin-bottom: 500px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 100px auto;
}
label {
  text-align: left;
}
input {
  margin: 10px 0px;
}
button {
  margin-top: 10px;
}
.nested-directory {
  margin: 0 auto;
  margin-bottom: 100px;
}
.guess-game {
  margin-top: 100px;
}
.guess-me {
  width: 300px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.guess-game button {
  margin-right: 49px;
  padding: 5px;
}
